In [5]:
import pandas as pd

In [7]:
idades = [
    32, 38, 30, 30, 31,
    35, 25, 29, 31, 37,
    27, 23, 36, 33, 32,
]

nomes = [
    "Téo", "Maria", "Jose", "Luis", "Ana",
    "Nah", "Dani", "Mah", "Fer", "Nanda",
    "Naty", "Nih", "Pedro", "Kozato", "Tito"
]

series_idades = pd.Series(idades)
series_nomes = pd.Series(nomes)
series_idades

0     32
1     38
2     30
3     30
4     31
5     35
6     25
7     29
8     31
9     37
10    27
11    23
12    36
13    33
14    32
dtype: int64

In [ ]:
#DataFrames é um varal 
df = pd.DataFrame()
df["idades"] = series_idades
df["nomes"] = series_nomes

    idades   nomes
0       32     Téo
1       38   Maria
2       30    Jose
3       30    Luis
4       31     Ana
5       35     Nah
6       25    Dani
7       29     Mah
8       31     Fer
9       37   Nanda
10      27    Naty
11      23     Nih
12      36   Pedro
13      33  Kozato
14      32    Tito

In [ ]:
#Como acessar os dataframes

df["nomes"] 
#Isso aqui não parece uma serie?
#Um DataFrame é, na prática, uma coleção de Séries

#Consultar por linhas
df.iloc[0]

#Aqui estou pegando uma linha onde cada coluna é serie do meu dataframe

'Téo'

In [ ]:
df.iloc[0]["nomes"]

#Aqui quero saber sobre a primeira linha da coluna "Nomes"

'Téo'

In [21]:
#Saber sobre a idade da ultima pessoa 

df.iloc[-1]["idades"]

np.int64(32)